.body{
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    gap: 20px;;
    margin-left: 10px;
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.8);
}

.body .lside{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.8);
}

.body .lside .head{
    margin-top: 50px;
    margin-bottom: 45px;
    margin-left: 50px;
}

.body .midside{
    margin-left: 50px;
    padding-top: 20px;
    margin-top: 10px;
    width: 1800px;
    height: 640px;
    margin-right: 160px;
    background-color: rgba(0, 0, 0, 0.8);
}

.body .midside::-webkit-scrollbar {
    display: none;  
}

.body .rside{
    border: 1px solid;
    max-height: 45%;
    width: 35%;
    border-radius: 20px; 
    background-color: rgba(232, 241, 248, 0.849);
}

.img{
    margin-top: 75px;
    margin-left: 20px;
    border: 1px solid;
    height: 50px;
    width: 50px;
}

.head.active {
    color: hwb(0 100% 0.9%); 
    font-size: 20px;
}
  