.body{
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    gap: 50px;;
    margin-left: 30px;
    margin-right: 50px;

}

.body .lside{
    border: 1px solid;
    width: 40%;
    border-radius: 20px;
    background-color: rgba(232, 241, 248, 0.849);
    
}

.body .midside{
    padding-top: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 1500px;
    height: 640px;
    background-color: rgba(232, 241, 248, 0.849);
}

.body .midside::-webkit-scrollbar {
    display: none;  
}

.body .rside{
    border: 1px solid;
    max-height: 45%;
    width: 35%;
    border-radius: 20px; 
    background-color: rgba(232, 241, 248, 0.849);
}

.img{
    margin-top: 75px;
    margin-left: 20px;
    border: 1px solid;
    height: 300px;
    width: 300px;
}